.back {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.header {
font-family: Georgia, serif;
/* background:black; */
color: DarkBlue;
padding: 20px;
width: 60%;
margin-left: auto;
margin-right: auto;
}

.header1{
text-align: center;

}

.headers {
  text-align: center;
  font-family: Georgia, serif;
  background: #7FFFD4;
  color: DarkBlue;
  padding: 50px;
  font-size: 25px;
}


.resources{
width: 600px;
height: 50px;
display: inline-block;
}
.rlabel{
width: 150px;
height: 50px;
display: inline-block;
vertical-align: top;
}
.actualresources{
width: 400px;
height: 50px;
display: inline-block;
margin-top: 15px;
vertical-align: top;
}


.timer {
text-align: center;
border: 5px solid #004853;
display:inline;
padding: 5px;
text-align: right;
color: #004853;
font-family: Verdana, sans-serif, Arial;
font-size: 20px;
font-weight: bold;
position: absolute;
height: 25px;
width: 48px;
top: 8px; 
right: 16px; 
text-decoration: none;
}

table.emotions {
  border-collapse: collapse;    
}
td.emotions, th.emotions {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 18px;
}
th.emotions:empty {
  border: 0;
}

table.outlet {
border-collapse: collapse; 
}
td.outlet, th.outlet {
border: 1px solid #ccc;
padding: 10px;
}
th.outlet:empty {
border: 0;
}





.custom-radio-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



.bullet {
text-align: center;
font-family: Georgia, serif;
font-weight:bold;
color: darkcyan;
}

/* input[type=text] {
padding:5px; 
border:2px solid #ccc; 
-webkit-border-radius: 5px;
border-radius: 5px;
}

input[type=text]:focus {
border-color:#333;
} */

/* input[type=submit] { */
/* padding:5px 15px;  */
/* background:#ccc; 
color: darkslateblue;
border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
font-family: Georgia, serif;
border-radius: 7px; 
text-align: center; */
/* font-size: 15px; */

/* } */

/* .submitbtn{
text-align: center;
} */

.submitbtn{
display: flex;
text-align: center;
justify-content: center;
align-items: center;
align-content: center;
flex-wrap: wrap;
margin: 0 auto;
/* min-height: 100vh; */
vertical-align: center;
width: 90px;
height: 40px;
}


.button{
/* flex: 1 1 auto; */
/* margin: 10px; */
/* padding: 20px; */
text-align: center;
vertical-align: center;
text-transform: uppercase;
transition: 0.5s;
color:white;
/* background-size: 110px 40px; */

border:0 none;
text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
box-shadow: 0 0 20px #eee;
border-radius: 10px;
background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100% );
cursor: pointer;
}

.btn{
width: 90px;
height: 40px;
}



.btn:hover{
background-position: right center; 
}

